@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap');


html {
  margin: 40px auto;
  text-align: center;
}


body{
    font-family: 'Cairo Play';
    background: linear-gradient(90deg,hsla(200, 78%, 54%, 0.62),#0077ffdb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Make the body element take up the entire viewport height */
}

.body-text {
  text-align: center;
  margin: auto;
}

/* Style to place the paragraph at the bottom */
.bottom-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

p { 
  margin: 20px;
  padding: 10px;
}

h1 {
    color: black;
    /* margin: 20px;
    padding: 10px; */
    font-weight: 800;
    font-size: 50;
    text-align: center;
    text-shadow: 1px 1px 5px white;
}



.btn-linkedin {
  background: #0E76A8;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}
.btn-linkedin:link, .btn-linkedin:visited {
  color: #fff;
}
.btn-linkedin:active, .btn-linkedin:hover {
  background: #084461;
  color: #fff;
}